/* footer start */
footer{
    background: #141d28;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}.icon:hover {
    outline-offset: 4px;
}.icon:hover i {
    animation: shake .25s;
}.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}.icon--skype:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}.icon--facebook:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}.copyright{
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: bisque;
    font-size: 1.5rem;
    /* margin-top: 10px; */
}

@media(max-width:1024px) {
    .icon{
        width: 50px;
        height: 50px;
    }
    .copyright{
        font-size: 1.5rem;
    }
}
@media(max-width:768px) {
    .icon{
        width: 22px;
        height: 22px;
        font-size: 15px;
    }
    .copyright{
        font-size: 1.3rem;
    }
}
@media(max-width: 480px) {
    .icon{
        width: 22px;
        height: 22px;
        }
    .copyright{
        font-size: 1.5rem;
        }
    
.footer-class{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 320px){
    .copyright{
        font-size: 1.3rem;
    }
}
/* footer end */