:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
 
}
.logo-self{
  height: 80px;
  width: 80px;
}
.name-logo{
  display: flex;
  align-items: center;
  text-align: center;
}
.name-logo h1{
  margin-left: 20px;
}

.logo {
  color: var(--color-primary);
  font-size: 30px;
  /* margin-left: -550px; */
}

.logo span {
  color: #DE002D;
}

.menu-bar {
  background-color: var(--color-black);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

@media (max-width: 1024px){

.logo {
  
  font-size: 1.5rem;
  }
.logo-self{
  height: 60px;
  width: 60px;
}
.menu-bar ul li a {
  font-size: 1rem;
 
}
}
@media (max-width: 768px){

.logo {
  
  font-size: 1rem;
  }
.logo-self{
  height: 50px;
  width: 50px;
}
.menu-bar ul li a {
  font-size: 1rem;
 
}
}
@media (max-width: 480px){

.logo {
  
  display: none;
  }
.logo-self{
  height: 50px;
  width: 50px;
}
.menu-bar ul li a {
  font-size: .6rem;
}
}